{% extends 'layout.fullpage.twig' %}

{% block localcss %}
  <link rel="stylesheet" href="/css/signin.css" />
{% endblock %}

{% block body %}
  <main class="form-signin w-100 m-auto">
    <form action="/auth/registration" method="POST" class="row g-3 needs-validation" novalidate>
      <img class="mb-4" src="/img/logo.jpeg" alt="" width="40" height="40" />
      <div class="form-floating">
        <input type="username"
          name="username"
          required
          class="form-control"
          id="username"
          placeholder="username" pattern="^[A-Za-z][A-Za-z0-9_-]{8,15}$"/>
        <label for="username">Username</label>
      </div>

      <div class="form-floating">
        <input type="password"
        required
          class="form-control"
          name="password"
          id="password"
          placeholder="Password" pattern="^(?=.*\d)(?=(.*\W){2})(?=.*[a-zA-Z])(?!.*\s).{8,32}$" />
        <label for="password">Password</label>
      </div>

      <div class="form-floating">
        <input type="password"
        required
          class="form-control"
          name="confirmationPassword"
          id="confirmationPassword"
          placeholder="Password"
          />
        <label for="confirmationPassword">Confirm Password</label>
      </div>
      <div id="err">
       {{ data.err }}
      </div>
      <div>
        <a href="/auth/login">Are you already signed in? Login!</a>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" id="btnSubmit">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">
        &copy; 2022
      </p>
    </form>
  </main>
{% endblock %}

{% block localjs %}
  <script src="/js/formValidation.js"></script>
{% endblock %}

